

body {
    background-color: rgb(57, 55, 55);
    color:rgb(245, 255, 241);
}

.correct,.incorrect {
    position:absolute;
    top:10px;

}

.hidden {
    display:none;
}

.correct,.incorrect{
    width:320px;
    background-color:black;
    padding:10px;
    border-radius:2%;
}

img{
    width:320px;
    
}


@media only screen and (min-width: 400px){
    .wrapper{
        width:400px;
        margin:auto;
    }

    .correct,.incorrect{
        width:400px;
    }

    img {
        width:400px;
    }
}