

body {
    background-color: rgb(82, 82, 82);
    color:white;
}

.body{
    height:150px;
}

.correct,.incorrect {
    position:absolute;
    top:10px;

}

.hidden {
    display:none;
}

.correct,.incorrect{
    width:400px;
    background-color:black;
    padding:10px;
}

img{
    width:400px;
}


@media only screen and (min-width: 800px){
    .wrapper{
        width:80%;
        margin:auto;
    }
}